@charset "UTF-8";
/* CSS Document */

html, body {
	margin:0;
	padding:0;
	font-size:16px;
	/*background:#eee url(bg.png) repeat-x top center fixed;*/
	font-family:'Raleway', sans-serif; 
	font-weight:600;
}

#header {
	width:100%;
	padding:10px 0;
	background:#eee;
	text-align:center;
}

#header img {
	height:1em;
	width:auto;
}

#container {
	margin:0 auto;
}

h1 {
	font-size:4em;
	text-align:center;
	margin:0;
	font-family:'Raleway', sans-serif; 
	font-weight:200;
}

h2 {
	font-size:3.5em;
	text-shadow: 0px 0px 5px rgba(15, 83, 131, 1);
	font-family:'Raleway', sans-serif; 
	font-weight:200;
}

a:link, a:visited {
	color:#06C;
	text-decoration:none;
}
a:hover, a:active {
	color:#09F;
	text-decoration:underline;
}

#description {
	width:/*520px*/ 100%;
	text-align:center;
	clear:both;
}

#description p {
		padding:0 1em;
	}

#footer {
	width:100%;
	padding:10px 0;
	background:#eee;
	text-align:center;
}

.output {
	display:none;
	margin-top:20px;
}
